<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.gobgob.map2d"
      android:versionName="00.01.00 R00017" android:versionCode="0">
    
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />


</manifest> 
